
body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #264653;
    font-size: 18px;
}

.section {
    display: flex;
    flex-direction: column;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
}

.section-one {
    background: #E9C46A;
    color: #264653;
    padding-bottom: 20px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: bold;
}

.logo {
    font-size: 24px;
}

.hero {
    color: #264653;
    display: flex;
    padding-top: 50px;
}
.hero-main {
    padding-right: 10px;
}

.purchase {
    align-self: flex-start;
    background: #E76F51;
    color: #264653;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    flex-shrink: 1;
    font-weight: bold;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: auto;
}

img {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0
}

p {
    font-size: 18px;
}

.section-two {
    background: #E76F51;
    color: #264653;
    display: flex;
}

.section-header.two {
    display: flex;
    justify-content: center;
    font-style: italic;
}

.leashes {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    gap: 15px;
    width: 1000px;
}

.leash-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.leash-img {
    display: flex;
    border: 5px solid #264653;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.img-text {
    padding-top: 10px;
    width: 150px;
    height: 100px;
}

.leash-img img {
    border-radius: 5px;
}

.section-three {
    background: #F4A261;
    color: #264653;
    display: flex;
    padding: 60px;
}

.quote {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex: 1;
    max-width: 800px;
}

.testimonial {
    font-weight: 400;
    font-size: 28px;
    font-style: italic;
}

.credit{
    font-weight: 700;
    font-style: italic;
}

.section-four {
    background: #E9C46A;
    padding: 60px;
}

.actionCall {
    background: #E76F51;
    color: #264653;
    display: flex;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
}

.actionText {
    display: flex;
    flex: 1;
    flex-direction: column;

}

.actionText h3 {
    padding: 0;
    margin-bottom: 0;
}

.actionText p {
    margin-top: 0;
}

.actionButton {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.actionButton button {
    background: #E9C46A;
}
